body {
  font-family: Montserrat, sans-serif;
  font-weight: normal;
  text-align: center;
}

.a0 {
  margin-left:15em;
  float: left;
  width: 30px;
  height: 30px;

}

.a1 {
  color: black;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Gentium Basic', serif;
}

h1 {
  font-size: 2rem;
  display:inline;
  margin: 0 20px;
}

.navlinks {
  font-size: 2rem;
  margin: 1.5%;
}
button {
  background-color: rgb(0, 0, 100,0.2);
  border: 1px solid black;
  color: black;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 0px;
}

.botaoAuxiliar {
  width: 90px;
  height: 60px;
}

button:hover {
  background-color: rgb(0, 0, 100,0.3);
}

button:active {
  background-color: rgb(0, 0, 100,0.5);
}

.nav-dropcontent {
  display: inline
}

.nav-dropcontent button {
  display: none;
}

/*
.nav-dropbtn:hover + .nav-dropcontent button, .nav-dropcontent:hover {
  display: block;
}
*/

input {
  padding: 5px;
}

.nav-bar {
  margin:50px;
}


.parte-esquerda {
  position:absolute;
  font-family: "Times New Roman", Courier, Garamond, serif;
	width: 500px;
  min-height: 200px;
	background-color: rgb(0, 0, 100,0.2);
	height: auto;
  margin-left: 27.7em; 
  text-align: left;
}
/* background-color: #eee;*/
.parte-direita {
  position:absolute;
  font-family: "Times New Roman", Courier, Garamond, serif;
	width: 500px;
  min-height: 200px;
	background-color: rgb(0, 0, 100,0.2);
	height: auto;
  margin-left: 60.2em; 
  text-align: left;
}

.resultados{
  position:absolute;
  font-family: "Times New Roman", Courier, Garamond, serif;
	width: 500px;
	min-height: 200px;
	background-color: rgb(0, 0, 100,0.2);
	height: auto;
  margin-top: 15em;
  margin-left: 45em; 
  text-align: left;
}


/*
.formula, .exemplos, .resolucao {
  display: inline-block;
  margin: 0 auto;
  text-align: left;
}
*/
/*
.titulo-secao{
  margin: 50px 0 0;
}
*/
.botao-auxiliar {
  font-family: Arial, sans-serif;
}

.sqrt-variable {
  border-top: 0.5px solid black;
}
